* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.screen {
    height: 100%;
    background-color: indigo;
    position: relative;
}

.corner {
    position: absolute;
    width: 150px;
    height: 150px;

}

.block {
    position: absolute;
    width: 200px;
    height: 100px;
}

.pattern .corner {
    background: url("../img/flowers-corner.png") top left no-repeat;
    background-size: contain;
}

.pattern .block {
    background: url("../img/flowers-segment.png") top left no-repeat;
    background-size: contain;
}

.plain .corner {
    background: url("../img/Plain-01.png") top left no-repeat;
    background-size: contain;
}

.plain .block {
    background: url("../img/Plain-02.png") top left no-repeat;
    background-size: contain;
}

.top {
    top: 20px;
}

.right {
    right: 20px;
}

.bottom {
    bottom: 20px;
}

.left {
    left: 20px;
}