* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.screen {
    height: 100%;
    background-color: indigo;
    position: relative;
}

.corner {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: tomato;
}

.block {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

.top {
    top: 20px;
}

.right {
    right: 20px;
}

.bottom {
    bottom: 20px;
}

.left {
    left: 20px;
}